@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
  width: 100%;
  max-width: 800px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(59, 53, 53, 0.4);
  border-radius: 1rem;
}


html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 0.5rem 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}





